@use 'styles' as *;

.container {
  min-height: 100vh;
  margin: 0.4rem;
}

@media (min-width: $mobileBP) {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
