@use 'styles' as *;

.list {
  color: $white;
}

@media (min-width: $mobileBP) {
  .list {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 920px;
    max-height: 500px;
  }
}
