@use 'styles' as *;
@import url("http://fonts.cdnfonts.com/css/big-shoulders-inline-display");
@import url("http://fonts.cdnfonts.com/css/lexend-deca");

@mixin Color($color) {
  background-color: $color;

  .button {
    color: $color;
    &:hover,
    &:active {
      background-color: $color;
      color: $white;
    }
  }
}

.item {
  padding: 3rem;

  &:nth-child(1) {
    border-radius: 0.4rem 0.4rem 0 0;
    @include Color($orange);
  }
  &:nth-child(2) {
    @include Color($green);
  }
  &:nth-child(3) {
    border-radius: 0 0 0.4rem 0.4rem;
    @include Color($darkgreen);
  }
}

.icon {
  margin-bottom: 2.1875rem;
}

.type {
  margin-bottom: 2.1875rem;
  font-size: 2.5rem;
  line-height: 0;
  letter-spacing: 0;
  font-weight: bold;
  text-transform: uppercase;
}

.button {
  background-color: $white;
  border-radius: 1.5625rem;
  width: 9.125rem;
  height: 3rem;
  border: 0.125rem solid transparent;
  font-size: 0.9375rem;
  line-height: 0;
  letter-spacing: 0;
  cursor: pointer;
  outline: none;
  transition: background-color 350ms ease-in-out;
  &:hover,
  &:active {
    border: 0.125rem solid $white;
    color: $white;
  }
}

.description {
  opacity: 0.75;
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  letter-spacing: 0;
  margin-bottom: 1.5625rem;
}

@media (min-width: $mobileBP) {
  .item {
    &:nth-child(1) {
      border-radius: 0.4rem 0 0 0;
    }
    &:nth-child(3) {
      border-radius: 0 0.4rem 0 0;
    }
  }
  .type {
    margin-bottom: 2.1875rem;
  }
  .icon {
    margin-bottom: 2.1875rem;
  }
  .description {
    margin-bottom: 5.1875rem;
  }
}
