@use 'styles' as *;
@import url("http://fonts.cdnfonts.com/css/big-shoulders-inline-display");
@import url("http://fonts.cdnfonts.com/css/lexend-deca");

@mixin button($color) {
  button {
    background-color: $white;
    border-radius: 1.5625rem;
    width: 9.125rem;
    height: 3rem;
    border: 0.125rem solid transparent;
    font-size: 0.9375rem;
    line-height: 0;
    letter-spacing: 0;
    color: $color;
    cursor: pointer;
    outline: none;
    transition: background-color 350ms ease-in-out;
    font-family: "Lexend Deca", sans-serif;
    &:hover,
    &:active {
      background-color: $color;
      border: 0.125rem solid $white;
      color: $white;
    }
  }
}

.item {
  padding: 3rem;

  &:nth-child(1) {
    border-radius: 0.4rem 0.4rem 0 0;
    background-color: $orange;
    @include button($orange);
  }
  &:nth-child(2) {
    background-color: $green;
    @include button($green);
  }
  &:nth-child(3) {
    border-radius: 0 0 0.4rem 0.4rem;
    background-color: $darkgreen;
    @include button($darkgreen);
  }
}

.icon {
  margin-bottom: 2.1875rem;
}

.type {
  margin-bottom: 2.1875rem;
  font-size: 2.5rem;
  line-height: 0;
  letter-spacing: 0;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Big Shoulders Inline Display", sans-serif;
}

.description {
  opacity: 0.75;
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  letter-spacing: 0;
  margin-bottom: 1.5625rem;
  font-family: "Lexend Deca", sans-serif;
}

@media (min-width: $mobileBP) {
  .item {

    &:nth-child(1) {
      border-radius: 0.4rem 0 0 0;
    }
    &:nth-child(3) {
      border-radius: 0 0.4rem 0 0;
    }
  }
  .type {
    margin-bottom: 2.1875rem;
  }
  .icon {
    margin-bottom: 2.1875rem;
  }
  .description {
    margin-bottom: 5.1875rem;
  }
}
